.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}