.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    margin-left: 3rem;
    align-self: center;
}

.labelTA {
    align-self: flex-start;
}

input {
    align-self: center;
    padding: 0.4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 40%; 
}

textarea {
    padding: 0.4rem;
    height: 10rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 100%; 
}

.submit {
    align-self:center; 
    padding: 0.4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 40%; 
}