header {
    margin: 0;
    padding: 0;
}

.headerContainer {
    padding: 10px 0; 
    color: black;
    background-color: rgb(166, 244, 218);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    max-width: auto; 
    margin: 0 auto; 
    padding: 0 40px; 
}

h1 {
    align-self: flex-start;
}

.mainNav {
    align-self: flex-end;
}

.mainNav button {
    background-color: rgb(216, 255, 242); 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.1s; 
}

.mainNav button:hover {
    background-color: rgb(58, 159, 126); 
}

.mainNav button:active {
    transform: translateY(2px); 
}

.mainNav button.active {
    background-color: rgb(59, 205, 156); 
    color: white; 
}